<h1>mockDiscuss</h1>
<section>
<h6>Discuss your mocks</h6>	
<p>Upload a mock, give it a name and share the URL. That's it!</p>
<% if user_signed_in? %>
	<%= link_to "Get started!", mocks_path, style: "font-size: 20pt; font-weight: bold;"%>
<% end %>
</section>
<br>
<section>
<p>Here are some <em>recent mocks</em>:</p>
<ul>
	<%= render @mocks %>
</ul>
</section>